.img-small {
  max-width: 170px;
  max-height: 120px;
}

.img {
  width: 100%
}

.carousel-div-pics {
  width: 70%;
  max-width: 774px;


  min-width: 360px ;
}

.carousel-section-pics {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.BrainhubCarousel__dots {
  overflow-x: scroll;
  scroll-behavior: smooth;
  /* overflow: hidden; */
}

